@import "_mixins";

.h1-title{
  text-transform: uppercase;
  font-size:20px;
  font-weight: 300;
  @include xl{
    font-size:28px;

  }
  @include xxl{
    font-size:30px;

  }
}

.head{
  background-color:rgba(237, 243, 246, 0.8);
  .logo{
    padding: 20px 0 20px 10px;
    @include lg {
      padding: 20px 20px 20px 20px
    }

  }
  .company-info{
    font-size:14px;
    @include lg{
      font-size:16px;
    }

    .company{
      font-size:18px;
      font-weight: bold;
    }
  }

  .ident-holder{
    .ident{
      font-size:22px;
    }
  }

  a{
    color: #177E7F;
    text-decoration: none  ;
  }
}
.parameter-holder{
  padding-top:15px;
  .parameter{
    font-weight: bold;
    border:2px solid #177E7F;
    padding:7px;

    background-color: #177E7F;
    color: white;
    font-size: 16px;
    height: 100%;
    span.title{
      display: block;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 13px;
    }
    @include md{
      font-size: 22px;
      padding:10px;
    }
    .icon{
      font-size: 30px;
      margin-left:10px;
    }
  }
}

.image-holder{
  padding-top:15px;
}
.smallimage{
  display: block;
  background-color:#d9d9d9;
  img {
    max-height: 312px;
    object-fit: contain;
    @include lg{
      max-height: 225px;
    }
    @include xl{
      max-height: 270px;
    }
    @include xxl{
      max-height: 312px;
    }
  }
}

.mainimage{
  display: block;
  background-color: #d9d9d9;
  img {
    max-height: 312px;
    object-fit: contain;
    @include lg{
      max-height: 425px;
    }
    @include xl{
      max-height: 496px;
    }
    @include xxl{
      max-height: 642px;
    }
  }
}

.detail-param{
  .param-title{
    font-weight: bold;
  }
}

.agent{
  background-color: #177E7F;
  color: #FFFFFF;
  padding:30px 20px;
  .avatar{
    img{
      height:150px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }
  .name {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  a{
    display: block;
    color: white;
    text-decoration: none;
  }
}
.detail-param{
  padding-top:10px;
}

.price{
  font-size:22px;
}
